.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  min-width: 350px;

  border-radius: 9px;
  background-color: var(--color-grey-900);
  color: white;
  align-self: center;
}

.image {
  width: 100%;
  height: auto;
  border-radius: 9px 9px 0px 0;
}
.container p {
  text-align: center;
}
