.container {
  display: block;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
  min-width: 350px;
  border-radius: 9px;
  background-color: var(--color-grey-900);
  color: white;
  align-self: center;
  cursor: pointer;
}

.image {
  width: 100%;
  border-radius: 9px 9px 0px 0;
}
.postDetails {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}
